.board {
    -fx-background-color: #bbada0;
    -fx-vgap: 15px;
    -fx-hgap: 15px;
    -fx-padding: 15px;
    -fx-pref-rows: 4;
    -fx-pref-columns: 4;
}

.tile-label {
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}

.tile-label-black {
    -fx-text-fill: #776e65;
}

.tile-label-white {
    -fx-text-fill: #f9f6f2;
}

.tile-label-1 {
    -fx-font-size: 55px;
}

.tile-label-2 {
    -fx-font-size: 55px;
}
.tile-label-3 {
    -fx-font-size: 45px;
}

.tile-label-4 {
    -fx-font-size: 35px;
}

.tile {

    -fx-arc-height: 12px;
    -fx-arc-width: 12px;
}

.tile-empty {
    -fx-fill: #eee4da;
    -fx-opacity: 0.35;
}

.tile-2 {
    -fx-fill: #eee4da;
}

.tile-4 {
    -fx-fill: #ede0c8;
}

.tile-8 {
    -fx-fill: #f2b179;
}

.tile-16 {
    -fx-fill: #f59563;
}
.tile-32 {
    -fx-fill: #f67c5f;
}
.tile-64 {
    -fx-fill: #f65e3b;
}

.tile-128 {
    -fx-fill: #edcf72;
}

.tile-256 {
    -fx-fill: #edcc61;
}

.tile-512 {
    -fx-fill: #edc850;

}

.tile-1024 {
    -fx-fill: #edc850;

}

.tile-2048 {
    -fx-fill: #edc22e;

}

.game-over-screen {
    -fx-font-size: 45px;
    -fx-fill: #bbada0;

}